{% extends "base_generic.html" %}


{% block content %}
	<h1>Pig List</h1>
	<form action="" method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		<label for="file1"> Upload a file</label>
		<input type="file" id="file1" name="files">
		<small>Only accepts CSV files</small>
		<button type="submit">Upload</button>
	</form>
	<form method="GET" action="." >
		<div class="form-row">
			<div class="form-group col-md-2">
				<label for="inputpig_id">Pig_ID</label>
				<input type="text" class="form-control" id="inputpig_id" placeholder="0000" name="pig_id">
			</div>
			<div class="form-group col-md-2">
				<label for="intputpig_gender">Gender</label>
				<select id="intputpig_gender" class="form-control" name="gender">
					<option selected></option>
					<option>Male</option>
					<option>Female</option>
				</select>
			</div>
			<div class="form-group col-md-2">
				<label for="intputpig_breed">Breed</label>
				<select id="intputpig_breed" class="form-control" name="breed">
					<option selected></option>
					<option>Landrace</option>
					<option>Yorkshire</option>
					<option>Duroc</option>
				</select>
			</div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-2">
				<label for="inputpig_birthmin">Pig_Dad_id</label>
				<input type="text" class="form-control" id="inputpig_dad_id" placeholder="1111" name="dad_id">
			</div>
			<div class="form-group col-md-2">
				<label for="inputpig_birthmax">Pig_Mom_id</label>
				<input type="text" class="form-control" id="inputpig_mom__id" placeholder="2222" name="mom_id">
			</div>
			<div class="form-group col-md-2">
				<label for="inputpig_birthmin">Pig Birthday from</label>
				<input type="date" class="form-control" id="inputpig_birthmin" placeholder="YYYY-MM-DD" name="birth_min" >
			</div>
			<div class="form-group col-md-2">
				<label for="inputpig_birthmax">to</label>
				<input type="date" class="form-control" id="inputpig_birthmax"  placeholder="YYYY-MM-DD" name="birth_max">
			</div>
		</div>
		<button type="submit" class="btn btn-primary">Search</button>
		<table class="table table-bordered table-striped">
			<thead>
				<tr class="row100 head">
					<th class="cell100 column1">豬隻ID</th>
					<th class="cell100 column2">豬隻生日</th>
					<th class="cell100 column3">豬隻性別</th>
					<th class="cell100 column4">豬隻父畜</th>
					<th class="cell100 column5">豬隻母畜</th>
					<th class="cell100 column6">豬隻品種</th>
					<th class="cell100 column6">註冊編號</th>
					{% if user.is_authenticated %}
						<th class="cell100 column7">編輯</th>
						<th class="cell100 column8">刪除</th>
					{% endif %}
					<th class="cell100 column9">歷史資料</th>
				</tr>
			</thead>
			<tbody>
				{% if list %}
				{% for pig in list %}
				<tr>
					<td><a href="{% url 'pig-detail' pig.pk %}">{{ pig.pig_id }}</a></td>
					<td>{{ pig.birth }}</td>
					<td>{{ pig.gender }}</td>
					<td>{{ pig.dad_id }}</td>
					<td>{{ pig.mom_id }}</td>
					<td>{{ pig.breed }}</td>
					<td>{{ pig.registration_number}}</td>
					{% if user.is_authenticated %}
						<td><a href="{% url 'pig-update' pig.pk %}" class="btn btn-info">edit</a></td>
						<td><a href="{% url 'pig-delete' pig.pk %}" class="btn btn-danger">delete</a></td>
					{% endif %}
					<td><a href="{% url 'pig-history' pig.pk %}" class="btn btn-success">history</a></td>
				</tr>
				{% endfor %}
				{% else %}
				<tr>
					<td>There are no pig in the library.</td>
				</tr>
				{% endif %} 	
			</tbody>
		</table>
		<a href="{% url 'downloadpiglist' %}" class="btn btn-info">Download</a>
	</form>	
				
				
{% endblock %}

